/*

 *  File:       App.rc

 *  Summary:	Application resources.

 *  Written by: Jesse Jones

 *

 *  Copyright © 2000 Jesse Jones. 

 *	For conditions of distribution and use, see copyright notice in XTypes.h  

 *

 *  Change History (most recent first):

 *

 *		 <1>	 7/19/00	JDJ		Created

 */



// Note that resource ids below 256 and lower case commands are reserved for Whisper.



// LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US





// ===================================================================================

//	Resources

// ===================================================================================

Bosses			XML "Bosses.XML"

XAbstractBosses	XML "XAbstractBosses.XML"

XBosses			DTD "XBosses.DTD"

 