/*
 *  File:       App.rc
 *  Summary:	Application resources.
 *  Written by: Jesse Jones
 *
 *  Copyright © 2000-2001 Jesse Jones. 
 *	For conditions of distribution and use, see copyright notice in XTypes.h  
 *
 *  Change History (most recent first):
 *
 *		$Log: App.rc,v $
 *		Revision 1.2  2001/04/06 04:39:34  jesjones
 *		Added cursor resources.
 *		
 *		Revision 1.1  2000/12/28 02:42:31  jesjones
 *		Moved from the Whisper to the Extras module.
 *		
 *		Revision 1.2  2000/11/26 03:21:27  jesjones
 *		Removed extra whitespace.
 */

// Note that resource ids below 256 and lower case commands are reserved for Whisper.

// LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
 

// ===================================================================================
//	XML
// ===================================================================================
Bosses		bXML "Bosses.bXML"
Strings		bXML "Strings.bXML"
XStrings	bXML "XStrings.bXML"
Windows		bXML "Windows.bXML"
Menus		bXML "Menus.bXML"

ColorFormulas	DTD "ColorFormulas.DTD"
Fractal			DTD "Fractal.DTD"
Palettes		DTD "Palettes.DTD"


// ===================================================================================
//	Cursors
// ===================================================================================
256			CURSOR     "pan_left.cur"
257	   		CURSOR     "pan_right.cur"
258			CURSOR     "pan_up.cur"
259			CURSOR     "pan_down.cur"

260			CURSOR     "orbit_left.cur"
261			CURSOR     "orbit_right.cur"
262			CURSOR     "orbit_up.cur"
263			CURSOR     "orbit_down.cur"

264			CURSOR     "zoom_in.cur"
265			CURSOR     "zoom_out.cur"
