/*
 *  File:       Tester.rc
 *  Summary:	Application resources.
 *  Written by: Jesse Jones
 *
 *  Copyright © 2001 Jesse Jones. 
 *	For conditions of distribution and use, see copyright notice in XTypes.h  
 *
 *  Change History (most recent first):
 *
 *		$Log: Plugin.rc,v $
 *		Revision 1.1  2001/03/13 10:46:33  jesjones
 *		Checked in
 *		
 */

// Note that resource ids below 256 and lower case commands are reserved for Whisper.

// LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
 

// ===================================================================================
//	Resources
// ===================================================================================
Bosses		bXML "Bosses.bXML"
